body{

  font-family:arial;
}


.display, .css-div{

 display: grid;
 grid-template-columns: 150px 150px 100px;
 margin-top: 10px;
}

.tdbutton{

 background-color:green;
 border: none;
}

.red{

 background-color:red;
 border: none;
 margin-bottom: 5px ;
}


.addTodo,.date{

 font-size: 15px

}